<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.footballamericain.mobile.android"
        version   = "4.0.0">
    <name>Football Americain Mobile</name>

    <description>
        Retrouvez votre site d'actualité préféré sur le Football Américain dans sa version mobile. Au programme : actualité NFL, FFFA et Elite, scores, classements et franchises NFL. Le meilleur du Football Américain en français..
    </description>

    <author href="http://www.footballamericain.com" email="lionel.laske@gmail.com">
        Lionel Laské pour FootballAmericain.com
    </author>
	
	<access origin="*" />
	<access origin="mailto:*" launch-external="yes"/>	
	<allow-navigation href="*" />
	<allow-intent href="http://*/*" />
	
	<preference name="android-minSdkVersion" value="13" />	
	
    <icon src="www/icon.png" />
	<platform name="android">
		<icon gap:density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
		<icon gap:density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
		<icon gap:density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
		<icon gap:density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />	
		<icon gap:density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />	
		<icon gap:density="xxxhdpi" src="res/icon/android/icon-192-xxxhdpi.png" />
	</platform>
	<platform name="webos">
		<icon src="res/icon/webos/facom64x64.png" />	
		<icon src="res/icon/webos/facom72x72.png" />	
	</platform>
	<platform name="ios">
		<icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
		<icon src="res/icon/ios/icon-60.png" width="60" height="60" />
		<icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
		<icon src="res/icon/ios/icon-76.png" width="76" height="76" />
		<icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
		<icon src="res/icon/ios/icon-40.png" width="40" height="40" />
		<icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
		<icon src="res/icon/ios/icon.png" width="57" height="57" />
		<icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
		<icon src="res/icon/ios/icon-72.png" width="72" height="72" />
		<icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
		<icon src="res/icon/ios/icon-small.png" width="29" height="29" />
		<icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
		<icon src="res/icon/ios/icon-50.png" width="50" height="50" />
		<icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
	</platform>
</widget>